player-connection-mode=Listen
player-connection-guid=1234020387
player-connection-debug=0
player-connection-project-name=4090Productions
player-connection-ip=192.168.56.1
player-connection-ip=10.30.145.100
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2fe0af934c204bd99cdb325378449a99
